In [6]:
import pandas as pd

In [7]:
# 2 main datatypes
series = pd.Series(["BMW","Toyota","Honda"])

In [8]:
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [9]:
# series = 1-dimentional

In [10]:
colours= pd.Series(["Red","Blue","White"])
colours

0      Red
1     Blue
2    White
dtype: object

In [11]:
# DataFrame = 2-dimentional
car_data = pd.DataFrame({"Car make":series,"Colour":colours}) 
car_data

  Car make Colour
0      BMW    Red
1   Toyota   Blue
2    Honda  White

In [12]:
# import data
car_sales = pd.read_csv("car-sales.csv")

In [13]:
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [14]:
# Exporting a dataframe
car_sales.to_csv("exported_car_sale.csv",index=False)

## Describe Data

In [15]:
#attributes
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [16]:
car_sales.columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [17]:
car_columns = car_sales.columns

In [18]:
car_sales.index

RangeIndex(start=0, stop=10, step=1)

In [19]:
car_sales.describe()

       Odometer (KM)      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

In [20]:
car_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 532.0+ bytes

In [25]:
car_prices = pd.Series([3000,1500,12000])
car_prices.mean()

np.float64(5500.0)

In [26]:
car_sales.sum()

Make             ToyotaHondaToyotaBMWNissanToyotaHondaHondaToyo...
Colour               WhiteRedBlueBlackWhiteGreenBlueBlueWhiteWhite
Odometer (KM)                                               786014
Doors                                                           40
Price            $4,000.00$5,000.00$7,000.00$22,000.00$3,500.00...
dtype: object

In [27]:
car_sales["Doors"].sum()

np.int64(40)

In [29]:
len(car_sales)

10